.signin-form {
    flex-direction: column;
    margin: 38px 38px 60px 38px;
}

#signin-form-top-logo-container {
    flex-grow: 1;
    justify-content: center;
}

#signin-form-top-logo {
    margin: 16px 30px;
}

.signin-form-header-text {
    height: 18px;
    color: white;
}

#signin-form-forgot-password-text {
    height: 24px;
    text-align: right;
    color: white;
}

#signup-container {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 36px;
}

#signup-text {
    margin-left: 6px; /* Simulate default spacing in StackLayout */
}

#signin-buttons-container {
    opacity: 0;
    margin: -40px 38px 0 38px;
    flex-direction: column;
    justify-content: flex-start;
}
